:root {
  --text-color:#252525;
  --black-bg:#151515;
  --white:white;
  --green-color:#1ABC9C;
  --primary-font:"Roboto";
  --secondary-font:"sans-serif";
  --black: black;
  --gray-light:#cccccc;
  --light-blue: lightblue;

}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font), var(--secondary-font);
}

a {
  display: block;
  text-decoration: none;
}

